<!-- 在文章末尾添加一个结束标志 -->
<div class="post-block">
	{% if not is_index and theme.passage_end_tag.enabled %}
    <div style="text-align:center;color:#999999;font-size:14px;">{{theme.passage_end_tag.content}}</div>
    {% endif %}
</div>

